body {
    .button-carousel {
        position: relative;
        .btnRestart {
            position: absolute;
            z-index: 1;
        }
    }
    .main-carousel {
        .carousel-cell {
            width: 100%;
            height: 100vh;
            min-height: 250px;
            margin-right: 10px;
            background-size: cover;
            .container {
                width: 1200px;
                position: absolute;
                top: 80%;
                left: 50%;
                color: white;
                font-size: 20px;
            }        
        }
    }
    #map {
        height: 50vh;
        width: 100%;
        background-color: grey;
    }
    .progress-bar {
        height: 20px;
        width: 0;
        background: #333;
    }
}